# Configurações do Servidor
PORT=3000

# Conexão MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/gestao-de-alunos

# Segredo do JWT
JWT_SECRET=segredo-dev-gestao-de-alunos

# Credenciais Padrão do Administrador
ADMIN_EMAIL=admin@escola.com
ADMIN_PASSWORD=admin123
